*{
    scroll-behavior: smooth;
    transform: 0.3s all linear;
}

html, body{
    padding: 0;
    margin: 0;
}

body[mode="light"]{
    background: #f7f7f7 !important;
    color: black !important;
}

body[mode="dark"]{
    background: #333333 !important;
    color: white !important;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100vh;
    width: 100vw;
}

.wrapper > input[type="button"]{
    border: 0;
    outline: 0;
    --button-size: 10rem;
    border-radius: 50%;
    height: var(--button-size);
    width: var(--button-size);
    cursor: pointer;
}

body[mode="light"] .wrapper > input[type="button"]{
    color: black !important;
}

body[mode="dark"] .wrapper > input[type="button"]{
    color: white !important;
    background: transparent;
    border: 2px solid white;
}

.wrapper > input[type="button"]:hover{
    opacity: 0.75;
}